.player-modal-overlay {
  /* margin: auto; */
  padding-top: 125px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.player-modal-content {
  margin-top: 100px;
  width: 400px;
  /* height: 70%; */
  height: auto;
  position: relative;
  padding-bottom: 20%;
  padding-top: 20%;
}

.player-modal-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.descContainer {
  /* padding: .5rem; */
  z-index: 110;
  color: white;
  background-color: rgba(0, 0, 0);
  display: flex;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  position: "absolute";
  bottom: 50;
  left: 0;
}
.descContainer h4 {
  padding-left: 0.5rem;
  margin: 0;
}
.showButton {
  display: flex;
  justify-content: center;
}
.showButton button {
  background: lightblue;
  border-radius: 10px;
  width: 150px;
  height: 30px;
}
.player-modal-navigation {
  font-size: 100px;
  cursor: pointer;
}
.player-modal-nav-right {
  top: 50%;
  position: absolute;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.37);
  font-size: 100px;
}
.player-modal-nav-left {
  top: 50%;
  position: absolute;
  left: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.37);
  font-size: 100px;
}

@media (max-width: 768px) {
    .player-modal-content {
      height: 90%;
    }
  }
